@{
    ViewData["Title"] = "Learn to be free!";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a LearningOrganizer</h1>
    <p>Learn about <a href="https://documenter.getpostman.com/view/6009608/UzQuN55K">Sitio en etapa Muy temprana de desarrollo. Mientras tanto puedes Consultar la Api </a>.</p>
</div>
